@{
    ViewData["Title"] = "React";

}
<script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
<h1 class="display-4">This is the React implementation</h1>
<div class="row text-center">
    <div class="col-md-12">
        <!-- Render the component server-side, passing initial props -->
        <div id="content"></div>
    </div>

</div>
<script src="~/js/employees.js" type="text/babel">

</script>
